
/* General Styles */
.bg-light-green {
    background-color: var(--light-green);
}

/* Form Styles */
form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button Styles */
.btn-outline-secondary {
    border-color: var(--dark-green);
    color: var(--dark-green);
}

.btn-outline-secondary:hover {
    background-color: var(--dark-green);
    color: white;
}

.btn-primary {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
}

.btn-primary:hover {
    background-color: var(--light-green);
    border-color: var(--light-green);
}