/* Hero Section */
.hero {
    color: rgb(50, 73, 154);
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
}

.hero-title {
    font-size: 3rem;
    line-height: 1.4;
    color: #32499A;
    font-weight: 800;
}